@charset "UTF-8";




* {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}
ul.on, ol.on {
    list-style: inside;
}
a {
    text-decoration: none;
    color: inherit;
}



div#wrapper {
    width: 100%;
}
div#wrapper > a {
    position: absolute;
    top: -31px;
    width: 100%;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    color: #eee;
    border-bottom: 1px solid #eee;
    transition: top 0.3s;
}
div#wrapper > a:focus {
    top: 0;
}

/* header CSS */
header {
    width: 100%;
    overflow: hidden;
}
header > div.header_top {
    float: left;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}
/* .top_left */
header > .header_top .top_left {
    width: 1200px;
    margin: 0 auto;
}
header > .header_top .top_left li {
    float: left;
    margin: 5px;    
}
header > .header_top .top_left li img {
    max-width: 20px;
    vertical-align: top;
}
/* .top_right */
header > .header_top .top_right{
    width: 1200px;
    margin: 0 auto;
    
}
header > .header_top .top_right ul{
    float: right;
    
}
header > .header_top .top_right li{
    float: left;
    margin: 5px;
    
}
header > .header_top .top_right li span{
    margin-left: 2px;
    font-weight: bold;
    color: red;
}
header > .header_img {
    width: 100%;
    overflow: hidden;
}
header > .header_img img{
    float: left;
    margin: 0 auto;
    width: 100%;
}
/* .header_cont */
header > div.header_cont {
    width: 1200px;
    margin: 0 auto;
}
/* .page_history */
header > .header_cont .page_history {
    font-size: 12px;
    margin-bottom: 40px;
    overflow: hidden;
}
header > .header_cont .page_history li {
    float: left;
}
header > .header_cont .page_history li:before {
    content: 'ã†';
    margin: 0 10px;
}
header > .header_cont .page_history li:first-child:before{
    content: '';
    margin: 0;
}

header > .header_cont > h3 {
    float: left;
    font-size: 22px;
    margin-left: 10px;
}
/* .page_list */
header > .header_cont .page_list {
    float: right;
    margin-bottom: 30px;
    font-size: 15px;
    color: #aaa;
}
header > .header_cont .page_list li{
    float: left;
}
header > .header_cont .page_list li:before{
    content: '>';
    font-size: 13px;
    margin: 0 20px;
}
header > .header_cont .page_list li:first-child{
    content: '';
    color: #000;
    font-weight: bold;
}
header > .header_cont .page_list li:first-child:before{
    content: '';
    margin: 0;
}

/* main CSS */
main {
    width: 1200px;
    margin: 0 auto;
    border-top: 5px solid #000;
    background: #eee;
}
/* .main_cont */
main > div.main_cont {
    padding: 40px 0 0 70px;
    border-bottom: 1px solid #ddd;
}
main > div.main_cont > h4 {
    float: left;
    font-size: 20px;
    margin-right: 20px;
}
main > div.main_cont > p {
    color: #888;
    font-size: 13px;
    line-height: 30px;
}
/* .main_agree */
main > div.main_cont > .main_agree {
    overflow: hidden;
    margin: 20px;
    margin-right: 90px;
}
main > div.main_cont > .main_agree ul {
    font-size: 13px;
    overflow: hidden;
}
main > div.main_cont > .main_agree li {
    float: left;
    background: #fff;
    width: 400px;
    line-height: 40px;
    padding-left: 20px;
    margin: 15px 0;
}
main > div.main_cont > .main_agree li:nth-child(odd) {
    margin-left: 20px;
    margin-right: 120px;
}
main > div.main_cont > .main_agree input[type="checkbox"] {
    display: none;
}
main > div.main_cont > .main_agree input[type="checkbox"] + label span {
    font-size: 0px;
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0);
    background: #eee;
    
}
main > div.main_cont > .main_agree input[type="checkbox"]:checked + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.1);
    background: url('../img/check.png') no-repeat center;
    background-color: #f8f8f8;
    
}
main > div.main_cont > .main_agree li a {
    float:right;
    border: 2px solid #000;
    width: 120px;
    text-align: right;
}
main > div.main_cont > .main_agree li a span {
    margin: 0 12px;
}
main > div.main_cont > .main_agree > .all_btn > label {
    float: left;
    width: 100%;
    line-height: 50px;
    color: #f8f8f8;
    text-align: center;
    background: #dc8b6b;
    margin-top: 10px;
}
main > div.main_cont > .main_agree > p {
    line-height: 50px;
    font-size: 13px;
    color: #aaa;
    text-align: center;
}



























/* */